:root {
  --color-branco: #FFFFFF;
  --color-vermelho: #FF0000;
  --color-verde: #006400;
  --color-roxo: #7030A0;
  --color-preto: #000000;
  --color-rosa: #FFC0CB;
  --color-dourado: #FFD700;
  --color-azul: #0000FF;
}